body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("https://cdn.prod.website-files.com/6768f29a6d5da42209173f20/6768f29b6d5da42209177574_Rectangle%20(28).svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffc107;
    transition: all 0.3s;
    z-index: 10;
}

.list-group-item {
    background-color: #ffc107;
}

.sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    transition: all 0.2s;
}

.sidebar .list-group-item:hover {
    background-color: #f8f9fa;
    border-left: 4px solid #0d6efd;
}

.sidebar .list-group-item.active {
    background-color: #e9ecef;
    border-left: 4px solid #0d6efd;
    color: #0d6efd;
}

/* Main content area */
main {
    position: relative;
    padding-top: 1.5rem;
    height: 100vh;
}

.content-area {
    padding: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    min-height: 40%;
    max-height: 80%;
    background: whitesmoke;
    overflow-y: auto;
}

.content-tables{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.tabla {
    min-width: 350px;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 0.2em;
    padding: 5px;
    cursor: pointer;
}

/* Footer styles */
footer {
    position: relative;
    bottom: 0;
    z-index: 9999;
}

/* Responsive adjustments */
/* Sidebar styles for mobile */
@media (max-width: 768px) {
    .titulo-h1 {
        width: 100%;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 250px;
        height: 100%;
        z-index: 1000;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .collapse:not(.show) {
        display: block;
        visibility: hidden;
        transform: translateX(-100%);
    }

    .collapse.show {
        visibility: visible;
        transform: translateX(0);
    }

    .collapse.hide {
        visibility: hidden;
        transform: translateX(-100%);
    }
}