body {
    background-image: url("https://cdn.prod.website-files.com/6768f29a6d5da42209173f20/6768f29b6d5da42209177574_Rectangle%20(28).svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.custom-fs {
    font-size: 45px;
}

.contenedor_nav{
    position: relative;
}

.logo{
    position: absolute;
    top: 0;
}

/* MAIN, todo el contenido del index*/

.presentacion {
    background-color: #EDF9FF;
}

.tarjeta_presentacion {
    transition: 0.6s;
}

.imagen_presentacion {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.imagen_presentacion.fade-in {
    opacity: 1;
}

.imagen_presentacion.fade-out {
    opacity: 0;
}

.carousel {
    display: none;
}

/* Media querys */

@media screen and (max-width: 998px) {

    .carousel {
        display: block;
    }

    .contenedor_presentacion_normal,
    .carac-h2,
    .contenedor_texto {
        display: none;
    }

    .contenedor_carac {
        width: 100%;
        display: flex;
    }

    .contenedor_ham {
        width: 100%;
        display: flex;
        justify-content: end;
    }
}

/* pagina_principal.php */
body .principal{
    background-color: #212529; /* Fondo oscuro */
    color: #f8f9fa; /* Texto claro */
}
body .principal .sidebar {
    background-color: #343a40;
    height: 100vh;
    padding: 20px;
}
body .principal .sidebar h5 {
    color: #f8f9fa;
}
body .principal .sidebar a {
    color: #adb5bd;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
body .principal .sidebar a:hover {
    color: #f8f9fa;
}
 .tablero {
    background-color: #495057;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    color: #f8f9fa;
}
body .principal .tablero h5 {
    font-weight: bold;
}
body .principal .tarjeta {
    background-color: #6c757d;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #f8f9fa;
}
body .principal .tarjeta:hover {
    background-color: #5a6268;
}
body .principal .add-card {
    color: #17a2b8;
    cursor: pointer;
}
body .principal .add-card:hover {
    text-decoration: underline;
}
body .principal .header {
    background-color: #343a40;
    padding: 10px 20px;
    color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body .principal .header .btn {
    background-color: #17a2b8;
    color: #f8f9fa;
}
body .principal .header .btn:hover {
    background-color: #138496;
}    